data/
.ipynb_checkpoints
.bin
*.db



*.parquet
*.html
*.csv

!/03-orchestration/3.4/data_pref/green_tripdata_2021-01.parquet
!/03-orchestration/3.4/data_pref/green_tripdata_2021-02.parquet

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store
wandb/